
[gcode_macro END_PRINT]
gcode:

    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 50mm
    G1 Z50 F3000


    # Use absolute coordinates
    G90

    #move the bed to the front
 
    {% set y_park = printer.toolhead.axis_maximum.y|float - 20.0 %}

   G1 Y{y_park} F6000

    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    

 

    G90
  
    # Disable steppers
    M84
